#detail-box{
    background-color: #63B4B8;
    position: relative;
    width: 85%;
    margin: 0% auto;
    margin-top: 35px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
    vertical-align: middle;
    border-bottom: 5px solid black;
}
.detail-container{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    
}
.detail-container .right{
    flex: 45%;
}
.detail-container .left{
    flex: 45%;
}
.detail-info{
    background-image: url(../../assets/img/detail-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding: 5px;
    margin: 10px;
    background-color: #C0EEE4;
    display: flex;
    flex-direction: row;
    height: 70%;
}


.detail-info .content{
    padding: 15px 0;
    flex: 30%;
}
.content-header{
    font-size: 18px;
    font-weight: bold   ;
}
.content-main{
    font-size: 14px;
}
.content-footer{
    font-size: 12px;
}

#ring{
    flex: 1%;
    text-align: center;
    height: 40px;
    width: auto;
    border-radius: 100%;
    margin: auto 0;
    background-color: #e9f2f0;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    
    border: 2px solid C0EEE4;
}

.detail-info.education{
    background-image: url(../../assets/icon/education.svg);
}

.detail-info.experience{
    background-image: url(../../assets/icon/work-experience.svg);
    background-size: 60% !important;
}

.detail-info.skills{
    background-image: url(../../assets/icon/skills.svg);
    background-size: 60% !important;
}